# Object file
*.o

# Ada Library Information
*.ali
/.vs
/src/TemplateMethod/bin
/src/TemplateMethod/obj
/src/State/bin
/src/State/obj
/src/Strategy/Strategy/bin
/src/Strategy/Strategy/obj
/src/Visitor/bin
/src/Visitor/obj
/src/Observer/bin
/src/Observer/obj
/src/Memento/bin
/src/Memento/obj
/src/Mediator/obj
/src/Mediator/bin
/src/Iterator/bin
/src/Iterator/obj
/src/ChainOfResponsibility/bin
/src/ChainOfResponsibility/obj
/src/Command/bin
/src/Command/obj
/src/Proxy/bin
/src/Proxy/obj
/src/Flyweight/bin
/src/Flyweight/obj
/src/Facade/bin
/src/Facade/obj
/src/Decorator/obj
/src/Decorator/bin
/src/Composite/bin
/src/Composite/obj
/src/Bridge/bin
/src/Bridge/obj
/src/Adapter/bin
/src/Adapter/obj
/src/Singleton/bin
/src/Singleton/obj
/src/Prototype/bin
/src/Prototype/obj
/src/FactoryMethod/bin
/src/FactoryMethod/obj
/src/Builder/bin
/src/Builder/obj
/src/AbstractFactory/bin
/src/AbstractFactory/obj
