# Object file
*.o

# Ada Library Information
*.ali
/.vs
/src/TemplateMethod/bin
/src/TemplateMethod/obj
/src/State/bin
/src/State/obj
/src/Strategy/Strategy/bin
/src/Strategy/Strategy/obj
/src/Visitor/bin
/src/Visitor/obj
