# Object file
*.o

# Ada Library Information
*.ali
/.vs
/src/TemplateMethod/bin
/src/TemplateMethod/obj
/src/State/bin
/src/State/obj
/src/Strategy/Strategy/bin
/src/Strategy/Strategy/obj
/src/Visitor/bin
/src/Visitor/obj
/src/Observer/bin
/src/Observer/obj
/src/Memento/bin
/src/Memento/obj
/src/Mediator/obj
/src/Mediator/bin
/src/Iterator/bin
/src/Iterator/obj
/src/ChainOfResponsibility/bin
/src/ChainOfResponsibility/obj
/src/Command/bin/Debug/net6.0
/src/Command/obj
